* {
  color: inherit;
  background: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: none;
}
html,
body {
  font-size: $default-font-size;
  font-family: Arial, Helvetica, sans-serif;
}
