@import "variables";
@import "reset";

body {
  background: black;
}

.calc {
  display: block;
  width: auto;
  &-display {
    min-height: 2em;
    background-color: $default-display-color;
    display: block;
    flex-grow: 1;
    justify-content: right;
    align-items: center;
    padding: 0 0.5em;
    font-size: $default-font-size * 2;
  }
  &-buttons {
    display: block;
    width: auto;
  }
  &-button {
    background-color: $default-button-color;
    color: $default-button-text-color;
    text-align: center;
    width: $default-button-width;
    min-height: $default-button-height;
    display: block;
    float: left;
    justify-content: center;
    align-items: center;
    font-size: $default-font-size * 2;
    &:hover {
      background-color: $default-button-color-hover;
    }
    &-color-accent {
      background-color: $default-button-color-accent;
      &:hover {
        background-color: $default-button-color-hover-accent !important;
      }
    }
    &.large {
      width: 50% !important;
      height: $default-button-height;
    }
    &.last {
      display: block;
      float: none;
    }
  }
}

// Define calculator width classes based on number of columns
@for $i from 1 through 12 {
  .calc-width-#{$i} {
    width: $default-button-width * $i;
  }
}
